* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(80, 80, 139, 0.235);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
/*background-color: rgba(45, 41, 41, 0.534);*/
}
form p, label{
  font-size: 13px;
  color: rgba(1, 1, 1, 0.668);
}
form label{
  color: rgb(1, 1, 1);
  font-weight: 600;
  font-size: 18px;
}